export(region)
export(data)
export(prior_beta)
export(partition)
export(zA_vector)
export(stsu_likelihood)
export(loglikelihood)
export(prog2)
export(gelman_diagnostics)
export(run_diagnostics)
export(MSE)
export(mcmc_thin)
